body {
	background-color: hotpink;
}

header {
	background-image: url("https://images.pexels.com/photos/370/lights-night-dark-abstract.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
}

ul {
	list-style: none;
}
