body {
  font-family: sans-serif;
  margin: auto;
}

.wrapper {
  width: 80%;
  margin: 0;
  /*background-color: hotpink;*/

}

.inner-wrapper {
  position: relative;
  text-align: center;
  display: flex;
}

.controllers {
  position: absolute;
  bottom: 20px;
  left: 350px;
  background-color: #999;
  margin: auto;
  padding: 10px 10px 0px 10px;
}

img {
  max-height: 500px;
}

.img--twenty {
  -webkit-filter: grayscale(20%);
  filter: grayscale(20%);
}

.img--forty {
  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}


.img--sixty {
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}


.img--eighty {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

.img--hundred {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
